# Clock
LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

LOCATE COMP "rst_n" SITE "C2"; IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP;

# Saídas (ativo-alto)
# LOCATE COMP "O1" SITE "E2";
# IOBUF PORT "O1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_p[2]" SITE "C20";
# IOBUF PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_n[2]" SITE "D19";
# IOBUF PORT "tmds_d_n[2]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_p[1]" SITE "E20";
# IOBUF PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_n[1]" SITE "F19";
# IOBUF PORT "tmds_d_n[1]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_p[0]" SITE "G19";
# IOBUF PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_n[0]" SITE "H20";
# IOBUF PORT "tmds_d_n[0]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_clk_p" SITE "J19";
# IOBUF PORT "tmds_clk_p" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_clk_n" SITE "K19";
# IOBUF PORT "tmds_clk_n" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;

## HDMI-compatible connector (AKA GPDI)
# NB. IO_TYPE=LVCMOS33D generates gpdi_dn from gpdi_dp
LOCATE COMP "gpdi_dp[0]" SITE "G19";  # channel 0 +
LOCATE COMP "gpdi_dn[0]" SITE "H20";  # channel 0 -
LOCATE COMP "gpdi_dp[1]" SITE "E20";  # channel 1 +
LOCATE COMP "gpdi_dn[1]" SITE "F19";  # channel 1 -
LOCATE COMP "gpdi_dp[2]" SITE "C20";  # channel 2 +
LOCATE COMP "gpdi_dn[2]" SITE "D19";  # channel 2 -
LOCATE COMP "gpdi_dp[3]" SITE "J19";  # clock +
LOCATE COMP "gpdi_dn[3]" SITE "K19";  # clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;

# I2C
LOCATE   COMP "spi_sck" SITE "E2";
IOBUF  PORT "spi_sck" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8; 
LOCATE   COMP "spi_mosi" SITE "D1";
IOBUF    PORT "spi_mosi" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8;     
LOCATE   COMP "spi_miso" SITE "C1";
IOBUF    PORT "spi_miso" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8; 
LOCATE   COMP "spi_csn" SITE "D2";
IOBUF    PORT "spi_csn" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=FAST DRIVE=8;   

# UART TX
LOCATE   COMP "uart_tx" SITE "B1";
IOBUF  PORT "uart_tx" IO_TYPE=LVCMOS33;