# Clock
LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Entradas (PULLDOWN, ativo-alto)
# LOCATE COMP "I1" SITE "D1";
# LOCATE COMP "I2" SITE "C1";
# IOBUF PORT "I1" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
# IOBUF PORT "I2" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

# Saídas (ativo-alto)
# LOCATE COMP "O1" SITE "E2";
# IOBUF PORT "O1" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_p[2]" SITE "C20";
# IOBUF PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_n[2]" SITE "D19";
# IOBUF PORT "tmds_d_n[2]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_p[1]" SITE "E20";
# IOBUF PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_n[1]" SITE "F19";
# IOBUF PORT "tmds_d_n[1]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_p[0]" SITE "G19";
# IOBUF PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_d_n[0]" SITE "H20";
# IOBUF PORT "tmds_d_n[0]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_clk_p" SITE "J19";
# IOBUF PORT "tmds_clk_p" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
# LOCATE COMP "tmds_clk_n" SITE "K19";
# IOBUF PORT "tmds_clk_n" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;

## HDMI-compatible connector (AKA GPDI)
# NB. IO_TYPE=LVCMOS33D generates gpdi_dn from gpdi_dp
LOCATE COMP "gpdi_dp[0]" SITE "G19";  # channel 0 +
LOCATE COMP "gpdi_dn[0]" SITE "H20";  # channel 0 -
LOCATE COMP "gpdi_dp[1]" SITE "E20";  # channel 1 +
LOCATE COMP "gpdi_dn[1]" SITE "F19";  # channel 1 -
LOCATE COMP "gpdi_dp[2]" SITE "C20";  # channel 2 +
LOCATE COMP "gpdi_dn[2]" SITE "D19";  # channel 2 -
LOCATE COMP "gpdi_dp[3]" SITE "J19";  # clock +
LOCATE COMP "gpdi_dn[3]" SITE "K19";  # clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;